MYSQL_ROOT_PASSWORD=admin
MYSQL_USER=admin
MYSQL_PASSWORD=admin
MYSQL_DATABASE=mydb

MYSQL_PORT=3306
PHPMYADMIN_PORT=8080
API_PORT=3000

BCRYPT_SALT_ROUND=10

TOKEN_SECRET=PASSWORD
NETWORK_NAME=mynetwork